#header{
    overflow: visible; /* Let menu content overflow outside the header */
}

#header ul { /* Menu Name */
    margin-top: 1em;
}
#header .ui-btn-corner-all {
    /* border-radius: 0; /* Make the menu button squarish */
}
#header ul ul { /* Menu Item List */
    position: absolute; /* Position absolutely */
    display: none; /* Hide */
    z-index:500; /* Ensure visibility over other elements on page */
    margin-top: 0px; /* Bring menu closer to button; not needed on mobile */
}
#header ul ul li {
    width: 150px; /* Fixed width menu items*/
    display: block; /* JQM makes a inline-blocks... reset it to block */
}
#header ul ul li a {
    white-space: normal; /* Stop long menu names from truncating */
}
#header ul:hover ul {
    /* display: block; /* Display menu on hover over parent */
}
#menu-left {
    float: left;
    margin-left:0.5em;
}
#menu-right {
    float: right;
    margin-right:0.5em; 
}
#menu-left ul {
    margin-left:0.5em;
}
#menu-right ul {
    margin-right: 0.5em;
    right: 0em;
}
#home .ui-header {
    height: 75px;
}
#home .ui-header h1 {
    font-size: 16pt;
    margin-bottom:0px;
}
#txtSpan {
    position: relative;
    display: inline-block;
    top: -5px; /* Doesnt seem possible to vertically center otherwise */
}
#home .ui-header h2 {
    font-size: 14pt;
    margin-top: 0px;
}


 .ui-page .ui-content .ui-listview .ui-li-desc  {
        white-space:normal;
    }

 
div .plusone, .twitter, .fb-like {
    font-size: 1px;
    display: inline-block;
  vertical-align:top;
}
div .fb_reset {
    display: inline;
} 
    .count_talk {
      font-size: 1em;
      font-weight:normal;
      color:black; 
    }



#nav_left {
    left:0;
    top:0px;
    position:fixed;
    z-index:10;
//    height:25px;
//    width:50px;
    background-color:rgba(1,1,1,0.4);
}

#nav_right {
    right:7px;
    top:0px;
    position:fixed;
    z-index:10;
//    height:25px;
//    width:50px;
    background-color:rgba(1,1,1,0.4);
}


.ui-btn-inner {
    white-space:normal;
}		

 input.ui-slider-input {
//      display:none !important;
}

     .piczoom {
	 width:150px;
     }

    .mbox {
   //    border-style:solid;
   //    border-color:silver;
   //    border-width:2px;
         display:block;
    }



.spotd_on {
border-color:silver;
border-style:solid;
border-width:2px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
padding:2px;
}

.spotd_mark {
border-color:silver;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
}

   
.spotd_off {
border-color:white;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



