
    .count_talk {
      font-size: 1em;
      font-weight:normal;
      color:black; 
    }



#nav_left {
    left:0;
    top:0px;
    position:fixed;
    z-index:10;
//    height:25px;
//    width:50px;
    background-color:rgba(1,1,1,0.4);
}

#nav_right {
    right:7px;
    top:0px;
    position:fixed;
    z-index:10;
//    height:25px;
//    width:50px;
    background-color:rgba(1,1,1,0.4);
}

 .ui-page .ui-content .ui-listview .ui-li-desc  {
        white-space:normal;
    }


.ui-btn-inner {
    white-space:normal;
}		

 input.ui-slider-input {
//      display:none !important;
}

     .piczoom {
	 width:150px;
     }

    .mbox {
   //    border-style:solid;
   //    border-color:silver;
   //    border-width:2px;
         display:block;
    }



.spotd_on {
border-color:silver;
border-style:solid;
border-width:2px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
padding:2px;
}

.spotd_mark {
border-color:silver;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
}

   
.spotd_off {
border-color:white;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



