

.ui-btn-inner {
    white-space:normal;
}		

input.ui-slider-input {
      display:none !important;
}

     .piczoom {
	 width:200px;
     }

    .mbox {
   //    border-style:solid;
   //    border-color:silver;
   //    border-width:2px;
         display:block;
    }



.spotd_on {
border-color:silver;
border-style:solid;
border-width:2px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
padding:2px;
}

.spotd_mark {
border-color:silver;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
}

   
.spotd_off {
border-color:white;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



