
.regular_top {
  position:relative;
}


.flying_top {
  position:fixed;
  top:0px;
}

     .piczoom {
	 width:200px;
     }

     .outer_menu {
	width:100%;
        background-color:white;
        padding:5px;
//        display: -moz-inline-stack;
        display: inline-block;
//        zoom: 1;
//        *display: inline;
//        overflow:auto;
        border-style:solid;
        border-color:silver;
        border-width:5px;
      }

    .mbox {
   //    border-style:solid;
   //    border-color:silver;
   //    border-width:2px;
         display:block;
    }



@media screen and (max-width:599px) {
    
     .menu {
        width:100%;
        min-width:350px;
        float:left; 
           border-style:solid;
       border-color:silver;
       border-width:1px;
     }

    .menu_btnsbox {
        width:100%;
        min-width:250px;
  //	float:right;
        display:block;
//        margin:0 auto;
          border-style:solid;
       border-color:silver;
       border-width:1px;
     }

    .menu_btns {
        float:left;
//        display:inline-box;
          border-style:solid;
       border-color:silver;
       border-width:1px;
     }

    .rail_btns {
        float:right;
//        display:inline-box;
          border-style:solid;
       border-color:silver;
       border-width:1px;
     }

    .rail_main {
        clear:both;
//        float:right;
        width:250px;
        margin:0 auto;
           border-style:solid;
       border-color:silver;
       border-width:1px;
    }

   .zbox {
       background-color:white;
       min-width:250px;
       width:100%;
       padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
   }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       min-width:250px;
       min-height:150px;
       width:100%;
       padding:5px;
    }

     .piclip {
         clip:rect(0px,150px,150px,0px);
	 width:100px;
     }
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:350px;
       height:150px;
     }

}



@media screen and (min-width:600px) and (max-width:899px) {

     .menu {
	width:300px;
        vertical-align:top;
        float:left;
          border-style:solid;
       border-color:silver;
       border-width:1px;
      }

    .menu_btnsbox {
	width:300px;
        display:inline-block;
        vertical-align:top; 
         border-style:solid;
       border-color:silver;
       border-width:1px;
    }

    .menu_btns {
        float:left;
        border-style:solid;
       border-color:silver;
       border-width:1px;
     }

    .rail_btns {
        float:right;
         border-style:solid;
       border-color:silver;
       border-width:1px;
     }


     .rail_main {
	float:right;
         border-style:solid;
       border-color:silver;
       border-width:1px;
     }

    .zbox {
       width:550px;
 //      margin:0 auto;
       background-color:white;
        padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
    }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       width:350px;
       padding:5px;
       min-height:150px;
    }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:250px;
       height:100px;
     }
}


@media screen and (min-width:900px) {

     .menu {
	width:350px;
        vertical-align:top;
        float:left;
          border-style:solid;
       border-color:silver;
       border-width:1px;
      }

    .menu_btnsbox {
	width:300px;
        display:inline-block;
        vertical-align:top; 
         border-style:solid;
       border-color:silver;
       border-width:1px;
    }

    .menu_btns {
        float:left;
        border-style:solid;
       border-color:silver;
       border-width:1px;
     }

    .rail_btns {
        float:right;
         border-style:solid;
       border-color:silver;
       border-width:1px;
     }


     .rail_main {
	float:right;
         border-style:solid;
       border-color:silver;
       border-width:1px;
     }

    .zbox {
       width:550px;
 //      margin:0 auto;
       background-color:white;
        padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
    }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       width:225px;
       padding:5px;
       min-height:150px;
    }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:250px;
       height:100px;
     }
}


.spotd_on {
border-color:silver;
border-style:solid;
border-width:2px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
padding:2px;
}

.spotd_mark {
border-color:silver;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
}

   
.spotd_off {
border-color:white;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
//vertical-align:top;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



a:link{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline; 
  vertical-align:top;
}

a:visited{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline;  
  vertical-align:top;
}

a:active{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline;  
  vertical-align:top;
}



