
@media screen and (max-width:549px) {

    .logo_talk {
      font-size: 1.2em;
      vertical-align:middle;
    }

    .screen_talk {
       font-size: 1 em;
       display:inline-block;
       vertical-align:middle;
    }

    #menu_spot {
       min-width:380px;
     }

    #left_spot {
      width:10%;
   }

     #right_spot {
        width:90%;
        text-align:right;
     }

     #main_view {
       width:100%;
       float:none;
     }

     #side_bar {
       width:100%;
       float:none;
     }

     #main_spot {
       width:100%;
       float:none;
     }

     .menu_btn {
        width:20px;
       background-color:white;
     }

     .mybtns  {
        padding:0 0 0;
        border:none;
     }
 
     .mybtns .ui-btn-inner {
        padding:0 0 0;
     }
 
   .menu_sub {
        display:inline-block;
        float:left;
     }

     #chip_rail {
        width:100%;
        float:none;       
     }

     #chunk_rail {
        width:100%;
        float:none;       
     }

 .my-box {
    padding:5px;
    border: 5px solid silver;
  }



   .zbox {
       background-color:white;
       min-width:250px;
       width:100%;
       padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
   }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       min-width:400px;
       min-height:150px;
       width:100%;
       padding:5px;
    }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:350px;
       height:150px;
     }

}



