
@media screen and (max-width:599px) {

    .screen_talk {
       font-size: 1 em;
       vertical-align:middle;
    }

    #menu_spot {
       min-width:400px;
     }

     #main_view {
       width:100%;
       float:none;
     }

     #adside_bar {
       width:100%;
       float:none;
       padding-bottom:10px;
       text-align:right;
     }

     #admain_spot {
       width:100%;
       float:none;
     }

     #main_spot {
       width:100%;
     }


     .menu_btn {
        width:25px;
        background-color:white;
     }

      
     .mybtns .ui-btn-inner {
        padding:0 0 0;
    }
 
     #chip_rail {
        width:100%;
        float:none;       
     }

     #chunk_rail {
        width:100%;
        float:none;       
     }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
}



