
@media screen and (max-width:699px) {

     .menu_box {
        width:350px;
        background-color:white;
        border-style:solid;
        border-color:silver;
        border-width:5px;
  //      display:inline-block;
        margin:0 auto;
      }

     .main {
        background-color:black;
     }

     .menu_main {
        display:inline-block;
     }

    .menu_btns {
//      display:inline-block;
      float:right;
    }

    .rail_box {
//     width:100%;
       width:250px;
       background-color:white;
       margin:0 auto;
     //  display:inline-block;
         border-style:solid;
        border-color:silver;
        border-width:5px;
    }

    .rail_btns {
        display:inline-block;
      // width:200px;
        background-color:white;
     }

    .rail_main {
        display:inline-block;
         background-color:white;
    }

   .zbox {
       background-color:white;
       min-width:250px;
       width:100%;
       padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
   }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       min-width:250px;
       min-height:150px;
       width:100%;
       padding:5px;
    }

     .piclip {
         clip:rect(0px,150px,150px,0px);
	 width:100px;
     }
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:350px;
       height:150px;
     }

}



