
@media screen and (max-width:599px) {

     #mainbar_spot {
        background-color:white; 
        width:100%;
        float:none;
     }

     #main_view {
        background-color:white; 
        width:100%;
        float:none;
     }

     #chip_rail {
        width:100%;
        float:none;       
     }

     #chunk_rail {
        width:100%;
        float:none;       
     }

     .menu_box {
        min-width:350px;
        width:100%;
      }

     .menu_sub {
        width:100%
     }

     .menu_btn {
        width:20px;
       background-color:white;
     }

 .mybtns .ui-btn-inner  {
   background:white;
   padding:0 0 0;
 }



 .logo_short {
    font-size: 1.2em;
    display:inline-block;
    vertical-align:middle;
  }

  .logo_long {
    font-size: 1.2em;
    display:inline-block;
    vertical-align:middle;
  }


 .my-box {
    padding:5px;
    border: 5px solid silver;
  }



   .zbox {
       background-color:white;
       min-width:250px;
       width:100%;
       padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
   }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       min-width:400px;
       min-height:150px;
       width:100%;
       padding:5px;
    }

     .piclip {
         clip:rect(0px,150px,150px,0px);
	 width:100px;
     }
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:350px;
       height:150px;
     }

}



