
@media screen and (max-width:599px) {

    .logo_talk {
      font-size: 1.2em;
      vertical-align:middle;
    }

    .screen_talk {
       font-size: 1 em;
       vertical-align:middle;
    }

    #menu_spot {
       min-width:400px;
     }

    #left_spot {
   }

     #right_spot {
        float:right;
     }

     #main_view {
       width:100%;
       float:none;
     }

     #adside_bar {
       width:100%;
       float:none;
       padding: 0 0 10px;
       text-align:right;
     }

     #admain_spot {
       width:100%;
       float:none;
     }

     #side_bar {
       width:100%;
     }

     #main_spot {
       width:100%;
     }


     .menu_btn {
        width:20px;
        background-color:white;
     }

      
     .mybtns .ui-btn-inner {
        padding:0 0 0;
    }
 
   .menu_sub {
        display:inline;
     }

     #chip_rail {
        width:100%;
        float:none;       
     }

     #chunk_rail {
        width:100%;
        float:none;       
     }

    .my-box {
        padding:5px;
        border: 5px solid silver;
     }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       min-width:400px;
       width:100%;
       padding:5px;
    }

    .zbox {
       background-color:white;
       min-width:250px;
       width:100%;
       padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
   }


     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
}



