
@media screen and (min-width:700px) and (max-width:999px) {

     .top_main {
        background-color:black; 
        width:750px;
        margin:0 auto;
     }

     .main {
//        background-color:white; 
        width:750px;
        margin:0 auto;
     }

     .menu_box {
	width:100%;
//       display:inline-block;
        display:block;
        margin:0 auto;
        background-color:white;
        padding:5px;
        border-style:solid;
        border-color:silver;
        border-width:5px;
        vertical-align:top;
      }

     .menu_main {
//	width:300px;
        display:inline-block;
        vertical-align:top;
      //  float:left;
      }

    .menu_btnbox {
//	width:150px;
        float:right;
    //    display:inline-block;
        vertical-align:top; 
    }

     .menu_btn {
        width:25px;
     }

    .rail_box {
	width:175px;
        display:inline-block;
        vertical-align:top; 
        background-color:cyan;
    }


   .zbox {
       width:550px;
 //      margin:0 auto;
       background-color:white;
        padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
    }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       width:350px;
       padding:5px;
       min-height:150px;
    }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:250px;
       height:100px;
     }
}


