
@media screen and (min-width:550px) and (max-width:799px) {

    .logo_talk {
       font-size: 1.2em;
       display:inline-block;
       vertical-align:middle;
    }

    .screen_talk {
       font-size: 1em;
       display:inline-block;
       vertical-align:middle;
    }

    #left_spot {
     }

     #right_spot {
         text-align:right;
     }

    .menu_sub {
        display:inline-block;
     }


    #side_bar {
       width:100%;
       float:none;
     }

     #main_spot {
       width:100%;
       float:none;
     }

     #main_view {
       width:100%;
       float:none;
     }

     .menu_btn {
        width:25px;
       background-color:white;
     }

     .mybtns  {
        padding:0 0 0;
        border:none;
     }
 
     .mybtns .ui-btn-inner  {
        background:white;
        padding:0 0 0;
     }

     #chip_rail {
        width:50%;
     }

     #chunk_rail {
        width:50%;
     }

    .my-box {
      padding:5px;
      border: 5px solid silver;
    }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;
       border-style:solid;
       border-color:silver;
       border-width:4px;
       width:350px;
       padding:5px;
    }

    .zbox {
       width:550px;
 //      margin:0 auto;
       background-color:white;
        padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
    }


     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:150px;
       height:100px;
     }
}


