
@media screen and (min-width:500px) and (max-width:799px) {
 
    .logo_talk {
       font-size: 1.2em;
       display:inline-block;
       vertical-align:middle;
    }

    .screen_talk {
       font-size: 1.1em;
       display:inline-block;
       vertical-align:middle;
    }

    #left_spot {
      width:20%;
     }

    #mainbar_spot {
       width:60%;
       text-align:left;
       vertical-align:middle;
    }

     #right_spot {
        width:20%;
     }

    #side_bar {
       width:100%;
       float:none;
     }

     #main_spot {
       width:100%;
       float:none;
     }

     #main_view {
       width:100%;
       float:none;
     }

     .menu_btn {
        width:25px;
       background-color:white;
     }

     .mybtns .ui-btn-inner  {
        background:white;
        padding:0 0 0;
     }

    .menu_sub {
        display:inline-block;
     }

     #chip_rail {
        width:50%;
     }

     #chunk_rail {
        width:50%;
     }

 .my-box {
    padding:5px;
    border: 5px solid silver;
  }



   .zbox {
       width:550px;
 //      margin:0 auto;
       background-color:white;
        padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
    }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       width:350px;
       padding:5px;
       min-height:150px;
    }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:250px;
       height:100px;
     }
}


