
@media screen and (min-width:600px) and (max-width:799px) {

    .screen_talk {
       font-size: 1.1em;
       vertical-align:middle;
       margin-top:15px;
    }

    #adside_bar {
       width:100%;
       float:none;
       text-align:right;
       vertical-align:center;
       border:3px;
       padding-bottom:10px;
     }

     #admain_spot {
       width:100%;
       float:none;
      border:5px; 
    }

     #main_spot {
       width:100%;
     }


     .menu_btn {
       width:25px;
       background-color:white;
     }

     .mybtns  {
        padding:0 0 0;
        border:none;
     }
 
     .mybtns .ui-btn-inner  {
        background:white;
        padding:0 0 0;
     }

     #chip_rail {
        width:50%;
     }

     #chunk_rail {
        width:50%;
     }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
}


