
@media screen and (min-width:600px) and (max-width:899px) {


     #mainbar_spot {
        background-color:white; 
        width:100%;
        float:none;
     }

     #main_view {
        background-color:white; 
        width:100%;
        float:none;
     }


 .logo_short {
    font-size: 1.8em;
    display:inline-block;
    vertical-align:middle;
  }

  .logo_long {
    font-size: 1.7em;
    display:inline-block;
    vertical-align:middle;
  }

 .my-box {
    padding:5px;
    border: 5px solid silver;
  }

.mybtns .ui-btn-inner  {
   background:white;
//   padding: 2px 3px 0px;
}

.mybtns .ui-radio-label {
   padding: 0px 3px 0px;
}


     .menu_box {
	width:100%;
      }


    .menu_sub {
        display:inline-block;
   //    float:right;
     }

     .menu_btn {
        width:25px;
    }

    .rail_box {
        float:right;
      //display:inline-block; 
   //   vertical-align:top;
   }


   .zbox {
       width:550px;
 //      margin:0 auto;
       background-color:white;
        padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
    }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       width:350px;
       padding:5px;
       min-height:150px;
    }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:250px;
       height:100px;
     }
}


