
@media screen and (min-width:900px) {

     .menu_box {
	width:550px;
        display:inline-block;
   //      margin:0 auto;
        background-color:white;
        padding:5px;
        border-style:solid;
        border-color:silver;
        border-width:5px;
      }


     .main {
        background-color:black;
        width:100%;
  //      margin:0 auto;
     }

     .menu_main {
	width:350px;
        vertical-align:top;
//        float:left;
      }

    .menu_btns {
	width:200px;
        float:right;
        vertical-align:top; 
    }

    .rail_box {
        float:right;
       background-color:white;
         border-style:solid;
        border-color:silver;
        border-width:5px;
    }

    .rail_btns {
        padding:5px;
     }


     .rail_main {
        background-color:white;
        width:200px;
        vertical-align:top;
        display:inline-block;
         border-style:solid;
       border-color:silver;
       border-width:1px;
         padding:5px;
    }

    .zbox {
       width:550px;
 //      margin:0 auto;
       background-color:white;
        padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
    }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       width:300px;
       padding:5px;
       min-height:150px;
    }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
 
     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:250px;
       height:100px;
     }
}


