
@media screen and (min-width:800px) {

    .logo_talk {
       font-size: 1.2em;
       vertical-align:middle;
    }

    .screen_talk {
       font-size: 1.2em;
       vertical-align:middle;
    }

    #left_spot {
     }

     #right_spot {
          float:right;
    }

     #adside_bar {
       width:25%;
       padding:10px;
    }

    #admain_spot {
       width:75%;
     }

     #main_spot {
       width:100%;
     }

     #main_view {
       width:100%;
     }

     .menu_btn {
        width:30px;
        background-color:white;
     }

     .mybtns .ui-btn-inner  {
        background:white;
        padding:0 0 0;
     }

    .menu_sub {
        display:inline-block;
    }

     #chip_rail {
        width:50%;
     }

     #chunk_rail {
        width:50%;
     }

    .my-box {
       padding:5px;
       border: 5px solid silver;
     }

    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       width:300px;
       padding:5px;
       margin:0 auto;
    }

   .zbox {
       width:550px;
 //      margin:0 auto;
       background-color:white;
        padding:5px;
       border-style:solid;
       border-color:silver;
       border-width:5px;
    }


     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
}


