

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

    .mbox {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;
       border-style:solid;
       border-color:silver;
       border-width:2px;
       width:500px;
       max-width:500px;
       min-height:150px;

     }

    .cbox {
       background-color:white;
       display: block;
       width:275px;
       max-width:275px;
       min-height:100px;
     }



@media screen and (min-width:650px) {

     .logo {
      float:left;
      background-color:white;
      width:350px;
      max-width:350px;
     }

     .story {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       display:inline-block;
       width:200px;
     }

     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       display:inline-block;
       width:200px;
       height:75px;
     }

    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:2px;
       width:300px;
       max-width:300px;
       min-height:150px;
    }

    .shag {
      background-color:white;
      width:300px;
      float:right;
      max-width:300px;
      margin-right:10px;
    }
}

@media screen and (max-width:649px) {

    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;
       border-style:solid;
       border-color:silver;
       border-width:2px;
       width:500px;
       max-width:500px;
       min-height:150px;

     }


     .logo {
      background-color:white;
      width:350px;
      max-width:350px;
     }

     .story {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       display:inline-block;
       width:350px;
     }

     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       display:inline-block;
       width:350px;
       height:100px;
     }

    .shag {
      background-color:white;
      width:500px;
      max-width:500px;
      min-height:150px;
    }


}


.spotd_on {
border-color:silver;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}

.spotd_mark {
border-color:silver;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.spotd_off {
border-color:white;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.spotl_on {
border-color:white;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}

.spotl_mark {
border-color:white;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.spotl_off {
border-color:silver;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}



