

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



a:link{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline; 
}

a:visited{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline;  
}

a:active{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline;  
}


    .mbox {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;
       border-style:solid;
       border-color:silver;
       border-width:2px;
       width:500px;
       max-width:500px;
       min-height:150px;

     }

    .sbox {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;
       border-style:solid;
       border-color:silver;
       border-width:2px;
     }

    .cbox {
       background-color:white;
       display: block;
       width:275px;
       max-width:275px;
       min-height:100px;
     }


     .piczoom {
	 width:200px;
     }
     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
     .picmobile {
	 width:100px;
     }



@media screen and (min-width:600px) {

     .mainlane {
      margin:0 auto;
     }

    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;
       border-style:solid;
       border-color:silver;
       border-width:2px;
       min-height:150px;
       width:550px;
     }


     .logo {
      background-color:white;
      width:550px;
      max-width:550px;
     }

     .story {
       font-family: sans-serif;
       font-weight:normal;
       font-size:large;
       vertical-align:top;
       display:inline-block;
       width:350px;
     }

     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       display:inline-block;
       width:350px;
       height:100px;
     }


}


@media screen and (min-width:800px) {
     .mainlane {
	margin:0 auto;
     }

     .logo {
      float:left;
      background-color:white;
      width:400px;
      max-width:400px;
     }

     .story {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       display:inline-block;
       width:250px;
     }

     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       display:inline-block;
       width:250px;
       height:75px;
     }

    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:2px;
       width:350px;
       max-width:350px;
       min-height:125px;
    }

}

@media screen and (min-width:1000px) {
     .mainlane {
	margin:0 auto;
     }

     .logo {
      float:left;
      background-color:white;
      width:400px;
      max-width:400px;
     }

     .story {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       display:inline-block;
       width:150px;
     }

     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       display:inline-block;
       width:200px;
       height:75px;
     }

    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:2px;
       width:275px;
       max-width:275px;
       min-height:75px;
    }

}


.spotd_on {
border-color:silver;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}

.spotd_mark {
border-color:silver;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.spotd_off {
border-color:white;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.spotl_on {
border-color:white;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}

.spotl_mark {
border-color:white;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.spotl_off {
border-color:silver;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.elem {
   border:solid white 3px;
   position: relative;
}

.elem p {
   padding: 0 1em;
}

.label, .endlabel {
  position:absolute;
  background-color:white;
  color: #414142;
  line-height:1em;
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
}

.label {
  top: 0;
  left: 0;
  padding: 0 3px 3px 0;
  position:absolute;
}

.endlabel {
  right: 0;
  top: 0;
  padding: 3px 0 0 3px;
//  position:absolute;
}

