
.regular_top {
  position:relative;
  background-color:white;
  border:4px solid white; 
  padding:4px;
}


.flying_top {
  position:fixed;
  top:0px;
  background-color:white;
  border:5px solid white; 
  padding:5px;
}

     .piczoom {
	 width:200px;
     }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }

     .outer_menu {
	width:100%;
      }

    .mbox {
   //    border-style:solid;
   //    border-color:silver;
   //    border-width:2px;
         display:block;
    }

    .zbox {
       min-width:250px;
       width:100%;
    }



@media screen and (max-width:599px) {
    
     .menu {
//	width:100%;
        min-width:275px;
        float:left; 
      }

    .menu_btnsbox {
        width:250px;
//  	float:right;
        display:block;
        margin:0 auto;

     }

    .menu_btns {
//        float:left;
//        display:inline-box;
     }

    .rail_btns {
//        float:right;
//        display:inline-box;
     }

    .rail_main {
        clear:both;
//        float:right;
        width:250px;
        margin:0 auto;
     }


    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       min-width:250px;
       width:100%;
       padding:4px;
    }

     .story {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:250px;
     }

     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:350px;
       height:150px;
     }

}



@media screen and (min-width:600px) {

     .menu {
	width:275px;
        vertical-align:top;
        float:left;
      }

    .menu_btnsbox {
	width:250px;
 // 	float:right;
        display:inline-block;
        vertical-align:top; 
    }

    .menu_btns {
        float:left;
     }

    .rail_btns {
        float:right;
     }


     .rail_main {
//       clear:right;
	float:right;
//       display:inline-block;
     }

    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:4px;
       width:275px;
        padding:4px;
    }

    .story {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:200px;
     }

     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:200px;
       height:100px;
     }
}


.spotd_on {
border-color:silver;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
vertical-align:bottom;
}

.spotd_mark {
border-color:silver;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
vertical-align:bottom;
}

   
.spotd_off {
border-color:white;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
vertical-align:bottom;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



a:link{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline; 
  vertical-align:top;
}

a:visited{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline;  
  vertical-align:top;
}

a:active{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline;  
  vertical-align:top;
}



