

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



a:link{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline; 
  vertical-align:top;
}

a:visited{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline;  
  vertical-align:top;
}

a:active{
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
  color:black;
  text-decoration:underline;  
  vertical-align:top;
}


.regular_top {
  position:relative;
  background-color:white;
  border:4px solid white; 
  padding:4px;
}


.flying_top {
  position:fixed;
  top:0px;
  background-color:white;
  border:5px solid white; 
  padding:5px;
}


     .piczoom {
	 width:200px;
     }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }

     .picmobile {
	 width:100px;
     }
     
     .outer_menu {
	width:100%;
      }

@media screen and (max-width:480px) {
    

    .top_left {
        border-color:silver;
        border-style:solid;
        border-width:2px;
	width:100%;
	margin:0 auto;
    }


     .inner_menu {
        border-color:silver;
        border-style:solid;
        border-width:2px;
	width:300px;
	margin:0 auto;

      }

    .rail_menu {
	background-color:white;
	border:solid;
	border-width:2px;
	border-color:silver;
	width:235px;
	margin:0 auto;
    }

    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:2px;
       min-width:220px;
       width:100%;
       min-height:150px;
    }


     .story {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:250px;
     }

     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:350px;
       height:150px;
     }

}




@media screen and (min-width:481px) {

     .top_left {
       float:left;
     }

     .inner_menu {
        clear:left;
        border-color:silver;
        border-style:solid;
        border-size:1px;
//	width:450px;
	display:inline-block;
      }

    .rail_menu {
	  float:right;
	  background-color:white;
	  border:4px solid silver; 
	  padding:4px;
	  width:200px;
    }
    .box {
       background-color:white;
       display: -moz-inline-stack;
       display: inline-block;
       zoom: 1;
       *display: inline;
       overflow:auto;

       border-style:solid;
       border-color:silver;
       border-width:2px;
       width:275px;
       min-height:150px;
    }

    .story {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:200px;
     }

     .getstory {
       font-family: sans-serif;
       font-weight:normal;
       font-size:medium;
       vertical-align:top;
       width:200px;
       height:100px;
     }
}




.spotd_on {
border-color:silver;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}

.spotd_mark {
border-color:silver;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}

   
.spotd_off {
border-color:white;
border-style:solid;
border-width:1px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.spotl_on {
border-color:white;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}

.spotl_mark {
border-color:white;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.spotl_off {
border-color:silver;
border-style:solid;
border-width:3px;
font-family: sans-serif;
font-weight:normal;
font-size:medium;
}


.elem {
   border:solid white 3px;
   position: relative;
}

.elem p {
   padding: 0 1em;
}

.label, .endlabel {
  position:absolute;
  background-color:white;
  color: #414142;
  line-height:1em;
  font-family: sans-serif;
  font-weight:normal;
  font-size:medium;
}

.label {
  top: 0;
  left: 0;
  padding: 0 3px 3px 0;
  position:absolute;
}

.endlabel {
  right: 0;
  top: 0;
  padding: 3px 0 0 3px;
}

