



.tws_block {

  background-color: green; 
  max-width: 200px; 

}





.tws_stored {

  background-color: green; 

}

.tws_ignored {

  background-color: red; 


}

.tws_none {

  background-color: yellow; 


}

